.dropdown {
    background-color:#002B2B;
    padding: 10px;
    max-width: 2000px;
    max-height: 200px;
    margin:20px;
    border-radius: 4px;
    box-shadow: 0 0 13px rgba(3, 10, 17, .5);
    margin-right: auto;
    margin-left: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #5B6067 1px solid;
}


body {
    background-color: darkslategrey;
}


aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: auto;
    max-width: 150px;
    max-height: 3000px;
    min-height: 700px;
    border-radius: 4px;

    background-color: #D2D2D8;
    border-style: solid;
    border-width: 2px;
    border-color: #EE1B80;
    border-radius: 4px;
    padding: 10px;
}
.update-number {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#002B2B;
}

footer {
    background-color: #002B2B;
    padding: 5px;
    max-height: 50px;
    text-align: center;
    min-width:fit-content;
    font-size: 20px;
}

.chicken-jockey {
    background-color: #D2D2D8;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
  }